// COLORS
$color-primary: rgb(249, 249, 0);
$color-primary-light: rgb(247, 247, 82);
$color-primary-dark: rgb(249, 249, 0);

$color-secondary: rgb(0, 112, 249);
$color-secondary-light: rgb(162, 204, 255);
$color-secondary-dark: rgb(3, 65, 142);

// Font
$default-font-size: 1.6rem;

$default-font-weight: 250;
