<h1>Welcome to your PokéDex!</h1>

<h3>These are the pokemon you have seen...</h3>

<% @pokemons.each do |pokemon| %>
    <div class="link-pokemon"> <%= link_to pokemon.name, pokemon %> </div>
<% end %>