<h1> <%= @pokemon.name %> </h1>

<div class="pokemon-stats">
    <p> Type: <%= @pokemon.poke_type %> </p>
    <p> Weight: <%= @pokemon.weight %> </p>
</div>

<h4 class="description">Description</h4>
<p> <%= @pokemon.description %> </p>